@app.route('/snapshot')
def snapshot():
    global snapshot_request, last_frame
    duration = int(request.args.get('duration', 3))
    snapshot_request["active"] = True
    snapshot_request["duration"] = duration
    snapshot_request["start_time"] = time.time()
    time.sleep(duration)
    snapshot_request["active"] = False
    ret, buffer = cv2.imencode('.jpg', last_frame)
    jpg_as_text = base64.b64encode(buffer).decode('utf-8')
    cloth = image_to_base64('paldo1.jpg')
    payload = {
        "person_image": jpg_as_text,
        "cloth_image": cloth,
        "cloth_type": "upper",
    }

    response = requests.post("https://20ce-136-158-11-61.ngrok-free.app/predict", json=payload)
    return jsonify({"image": response.json()['result_image']})










        function takeSnapshot(duration) {
      fetch('/measurements')
            .then(response => response.json())
            .then(data => {
              displayMeasurements(data);
              displayMeasurementsEn(data);
              displayMeasurementsEu(data);

            })
            .catch(error => console.error('Error fetching measurements:', error));
      fetch(`/snapshot?duration=${duration}`)
      .then(response => response.json())
       .then(data => {
        const base64Image = data.image;
          document.getElementById('snapshotImg').src = 'data:image/jpeg;base64,' + base64Image;
          // After snapshot is taken, retrieve measurement sizes from the server.
          
        })
        .catch(error => console.error('Error taking snapshot:', error));
    }
    